body{
	margin: 0;
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.relogio, .pointers, .numbers{
	width: 500px;
	height: 500px;
}

.relogio{
	position: relative;
	border-radius: 50%;
}

.relogio .pointers{
	transform: rotate(-90deg);
}

.relogio .pointers .numbers{
	position: absolute;
}

.pont{
	position: absolute; 
	height: 5px;
	background: #fff;
	border-radius: 3px;
	width: 100%;
	top: 50%;
	right: 0;
}

.pontH{
	background: linear-gradient(to right, transparent 50%, #ffffff 50%);
	width: 90%;
	left: 5%;
	z-index: 1;
}

.pontM{
	background: linear-gradient(to right, transparent 50%, #87B38D 0%);
	width: 80%;
	left: 10%;
	z-index: 2;
}

.pontS{
	background: linear-gradient(to right, transparent 50%, #485665 0%);
	width: 70%;
	right: 15%;
	z-index: 3;
}

.mark{
	color: #fff;
	position: absolute;
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	transform: rotate(90deg);
}

.mark3{
	bottom: 0;
	left: 48%;
}

.mark6{
	left: 20px;
	top: 45%;
}

.mark9{
	left: 48%;
}

.mark12{
	right: 10px;
	top: 45%;
}	